/*  -------------------------------------------------------- main variables with values */
/* -------------------------------------------------------- additional normalize overall */
html {
  scroll-behavior: smooth;
}

* {
  z-index: 1;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  background-color: #28835B;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 1.45vw;
}

h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

h3 {
  text-align: center;
  font-weight: 700;
  font-size: 3.125vw;
}

h4 {
  text-align: center;
  font-weight: 500;
  font-size: 1.458vw;
  line-height: 1.458vw;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  display: flex;
}

/* -------------------------------------------------------- clouds in body tag */
.container--clouds {
  position: absolute;
  width: 100%;
  z-index: auto;
}

.cloud {
  width: 40vw; /* 40% of width of port view */
}
.cloud--left {
  margin-top: -20vw;
  margin-left: -15vw;
}
.cloud--right {
  margin-left: 40vw;
  margin-top: -30vw;
}

.unselectTitle {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* -------------------------------------------------------- header */
.header {
  min-height: 5vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2.5vw 0 6vw;
  z-index: 2;
}
.header div {
  height: 100%;
}
.header--logo, .header--nav {
  border: 0.2vw solid #1A1423;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--logo {
  width: 15vw;
  background-color: #0C513F;
  border-radius: 80px;
}
.header--logo a {
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 200;
  color: #FFF3CC;
}
.header--logo a:hover {
  cursor: pointer;
}
.header--nav {
  width: 60vw;
  background-color: #FFF3CC;
  border-radius: 40px;
}
.header--nav-links {
  width: 80%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header--nav-links li a, .header--nav-links li h6 {
  height: 99%;
  padding: 1vw 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--nav-links li h6 {
  font-weight: normal;
}
.header--nav-links li span {
  font-size: 1.2vw;
}
.header--nav a:hover {
  text-decoration: underline;
}
.header--nav--active-el {
  font-weight: 700;
}
.header--droplist {
  position: relative;
}
.header--droplist-list {
  position: absolute;
  top: 100%;
  width: 10vw;
  border: 0.2vw solid #1A1423;
  border-top: 0.1vw solid #1A1423;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: #FFF3CC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.header--droplist-list li {
  width: 80%;
  border-bottom: 0.1vw solid #1A1423;
  padding: 0.9vw 0;
}
.header--droplist-list li:last-child {
  border-bottom: 0;
}
.header--droplist-list li a {
  display: inline;
  font-size: 1.2vw;
  padding: 0;
}
.header--droplist-list li:hover {
  cursor: pointer;
  color: #0C513F;
}
.header--droplist:hover .header--droplist-list {
  display: flex;
}
.header--droplist:hover h6 > span::after {
  rotate: 90deg;
  top: 25%;
}
.header--droplist h6 > span {
  position: relative;
}
.header--droplist h6 > span::after {
  transition: rotate 0.5s, top 0.5s;
  position: absolute;
  content: "";
  top: 15%;
  right: -40%;
  width: 0.8vw;
  height: 0.8vw;
  background-image: url(../images/additional-media/right-arrow.png);
  background-size: cover;
  rotate: -90deg;
}

/* block main */
main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  min-height: 20vw;
  background: #0C513F;
  margin-top: 6vw;
  border-top: 0.2vw solid #1A1423;
  color: rgba(255, 243, 204, 0.5);
}
.footer > div {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.footer--section-logos {
  position: relative;
  width: 33%;
  height: 100%;
  border-right: 0.05vw solid #1A1423;
}
.footer--section-logos img {
  position: absolute;
}
.footer--section-popular {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer--section-popular-title {
  margin: 0;
  font-weight: 100;
  font-size: 1.2vw;
  color: #FFF3CC;
}
.footer--section-popular-list {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer--section-popular-list ul {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 0.01vw dashed rgba(255, 243, 204, 0.5);
}
.footer--section-popular-list ul:last-child {
  border-right: none;
}
.footer--section-popular-list ul a {
  font-size: 1vw;
}
.footer--section-popular-list a:hover {
  text-decoration: underline;
}
.footer--section-rights {
  width: 100%;
  height: 20%;
  border-top: 0.05vw solid #1A1423;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--section-rights small {
  font-size: 0.8vw;
}

.footer--img-nct-lightstick {
  top: 6%;
  right: 2%;
  width: 25%;
  transform: rotate(-90deg);
}
.footer--img-nct-djj {
  top: 35%;
  left: 57%;
  width: 20%;
}
.footer--img-nct-dream {
  bottom: 7%;
  left: 15%;
  width: 15%;
}
.footer--img-nct-globe {
  bottom: 8%;
  right: 8%;
  width: 15%;
}
.footer--img-nct-hand-sign {
  top: 50%;
  left: 35%;
  width: 20%;
  transform: rotate(15deg);
}
.footer--img-nct-127 {
  top: 15%;
  left: 25%;
  width: 17%;
  transform: rotate(-50deg);
}
.footer--img-nct-u {
  top: 35%;
  left: 5%;
  width: 15%;
}
.footer--img-nct-wish {
  top: 7%;
  left: 8%;
  width: 15%;
}
.footer--img-wayv {
  top: -5%;
  right: 29%;
  width: 30%;
  transform: rotate(-15deg);
}

/* glass photo */
.glass-photo {
  width: 30%;
  height: 90%;
  position: relative;
  border-radius: 1vw;
  border: 2px solid #1A1423;
  overflow: hidden;
}
.glass-photo .photo, .glass-photo .glass {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: inherit;
}
.glass-photo .photo {
  z-index: 0;
}
.glass-photo .photo--nct-127 {
  background-image: url(../images/nct127/7.jpg);
}
.glass-photo .photo--nct-dream {
  background-image: url(../images/nctdream/9.jpg);
}
.glass-photo .photo--nct-u {
  background-image: url(../images/nctu/11.jpg);
}
.glass-photo .photo--nct-wish {
  background-image: url(../images/nctwish/5.jpg);
}
.glass-photo .photo--wayv {
  background-image: url(../images/wayv/1.jpg);
}
.glass-photo .photo--nct-djj {
  background-image: url(../images/nctdjj/3.jpg);
}
.glass-photo .glass {
  background-image: url(../images/additional-media/glass-effect.svg);
}
.glass-photo:hover .photo {
  transition: all 0.5s;
  transform: scale(1.1);
}

.breadcrumbs--container {
  width: 70vw;
  display: flex;
}
.breadcrumbs li {
  position: relative;
  font-size: 1.4vw;
  color: #FFC501;
  text-shadow: -0.1vw 0 #1A1423, 0 0.1vw #1A1423, 0.1vw 0 #1A1423, 0 -0.1vw #1A1423;
  padding: 0 1.5vw;
}
.breadcrumbs li::after {
  position: absolute;
  content: ">";
  top: -10%;
  right: -5%;
}
.breadcrumbs li:last-child::after {
  display: none;
}

.button-to-top {
  transition: background-color 1s, opacity 0.6s, visibility 0.6s;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 5vw;
  right: 3vw;
  height: 3.5vw;
  width: 4vw;
  border-radius: 1vw;
  background-color: rgba(26, 20, 35, 0.2);
  cursor: pointer;
  z-index: 9;
  border: 0.1vw solid #1A1423;
}
.button-to-top svg {
  transform: rotate(90deg);
}
.button-to-top:hover {
  transition: all 0.5s;
  transform: scale(1.02);
  opacity: 1;
}

.show {
  transition: background-color 0.5s;
  visibility: visible;
  opacity: 0.8;
  background-color: #1A1423;
}

.background-smooth {
  --c: #0C513F; /* the color */
  background: linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
.background-smooth:hover {
  --_p: 100% ;
}

/*# sourceMappingURL=global.css.map */
