/*  -------------------------------------------------------- main variables with values */
/* -------------------------------------------------------- additional normalize overall */
* {
  z-index: 1;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  background-color: #28835B;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 1.45vw;
}

h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 3.125vw;
  line-height: auto;
}

h4 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.458vw;
  line-height: 1.458vw;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* -------------------------------------------------------- clouds in body tag */
.container--clouds {
  position: absolute;
  width: 100%;
  z-index: auto;
}

.cloud {
  width: 40vw; /* 40% of width of port view */
}
.cloud--left {
  margin-top: -20vw;
  margin-left: -15vw;
}
.cloud--right {
  margin-left: 40vw;
  margin-top: -30vw;
}

/* -------------------------------------------------------- header */
.header {
  min-height: 5vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2.5vw 0 6vw;
}
.header div {
  height: 100%;
}
.header--logo, .header--nav {
  border: 0.2vw solid #1A1423;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--logo {
  width: 15vw;
  background-color: #0C513F;
  border-radius: 80px;
}
.header--logo span {
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 200;
  color: #FFF3CC;
}
.header--logo span:hover {
  cursor: pointer;
}
.header--nav {
  width: 60vw;
  background-color: #FFF3CC;
  border-radius: 40px;
}
.header--nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2vw;
}
.header--nav a:hover {
  text-decoration: underline;
}
.header--nav--active-el {
  font-weight: 700;
}

.footer {
  width: 100%;
  min-height: 30vw;
  background: #0C513F;
  margin-top: 6vw;
  border-top: 0.2vw solid #1A1423;
  color: rgba(255, 243, 204, 0.5);
}
.footer > div {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.footer--section-logos {
  position: relative;
  width: 33%;
  height: 100%;
  border-right: 0.05vw solid #1A1423;
}
.footer--section-logos img {
  position: absolute;
}
.footer--section-popular {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer--section-popular-title {
  margin: 0;
  font-weight: 100;
  font-size: 1.2vw;
  color: #FFF3CC;
}
.footer--section-popular-list {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer--section-popular-list ul {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 0.01vw dashed rgba(255, 243, 204, 0.5);
}
.footer--section-popular-list ul:last-child {
  border-right: none;
}
.footer--section-popular-list a:hover {
  text-decoration: underline;
}
.footer--section-rights {
  width: 100%;
  height: 20%;
  border-top: 0.05vw solid #1A1423;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--section-rights small {
  font-size: 0.8vw;
}

.footer--img-nct-lightstick {
  top: 10%;
  right: -2%;
  width: 35%;
  transform: rotate(-10deg);
}
.footer--img-nct-djj {
  top: 25%;
  left: 50%;
  width: 25%;
}
.footer--img-nct-dream {
  bottom: 7%;
  left: 5%;
  width: 25%;
}
.footer--img-nct-globe {
  bottom: 7%;
  right: 7%;
  width: 20%;
}
.footer--img-nct-hand-sign {
  top: 50%;
  left: 35%;
  width: 30%;
  transform: rotate(15deg);
}
.footer--img-nct-127 {
  top: 15%;
  left: 25%;
  width: 25%;
  transform: rotate(-50deg);
}
.footer--img-nct-u {
  top: 35%;
  left: 5%;
  width: 20%;
}
.footer--img-nct-wish {
  top: 5%;
  left: 5%;
  width: 20%;
}
.footer--img-wayv {
  top: -5%;
  right: 20%;
  width: 30%;
  transform: rotate(-15deg);
}

/*# sourceMappingURL=global.css.map */
