/*  -------------------------------------------------------- main variables with values */

$dark-green: #0C513F;
$back-color: #28835B;
$yellowgreen: #D7FC64;
$skin-color: #FFF3CC;
$skin-color-opacity: rgba(255, 243, 204, 0.5);
$dark-black: #1A1423;
$dark-brown: #231414;
$yellowgreen-opacity: rgba(215, 252, 100, 0.2);
$orange: #FFC501;
$normal-size-text: 1.2vw;
$big-size-text: 3.125vw;



.container--banner{
    position: relative;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;

    video{
        transition: filter 1s;
        position: absolute;
        width: 70vw;
        filter: brightness(40%);
        -webkit-filter: brightness(40%);
        -moz-filter: brightness(40%);
        border-radius: 1vw;
        z-index: 0;

        &:hover{
            transition: all 1s;
            filter: brightness(60%);
            -webkit-filter: brightness(60%);
            -moz-filter: brightness(60%);
        }
    }

    blockquote{
        color: $orange;
        font-size: 3.5vw;
        text-align: center;
        letter-spacing: 1%;
        font-weight: 700;
        line-height: 3.5vw;
        text-shadow: 0.2vw 0.2vw 2vw $dark-black;
    }
}


/* --- section with short information about each group */


.short-info{
    &--section{
        width: 80%;
        height: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2.5vw;
    }
    
    &--container{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    &--check-group{
        width: 110%;
        height: 3vw;
        justify-content: space-between;
        padding: 0.1vw 0.2vw;
        align-items: center;
        border: 0.05vw solid $dark-black;
        border-radius: 2vw;
        background-color: $skin-color;
        
        li{
            position: relative;
            width: 19.5%;
            height: 95%;
        }
        
        button{
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: $normal-size-text - 0.2vw;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            line-height: auto;
            border: 0.1vw solid transparent;
            border-radius: 2vw;
            background-color: inherit;
            
            &:hover{
                background-color: #ffc40139;
                cursor: pointer;
            }
            
            &:focus{
                background-color: $orange;
                border-color: $dark-black;
            }
        }
    }
    
    &--refs{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-top: 2vw;
        
        a{
            fill: $dark-green;
            
            &:hover{
                fill: $dark-black;
            }
        }
    }
}

/* short information about every group (text-block if be accurate) */

.block--info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $yellowgreen-opacity;
    border: 0.2vw solid $dark-black;
    border-radius: 2vw;
    padding: 2vw 5.5vw;
    margin-top: 1.4vw;

    h3{
        margin: 1vw 0;
    }

    p{
        width: 30vw;
    }
}


/* -------------------------------------------------------- section more about each group */


.section--more-info {
    height: 34vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;

    > p{
        position: relative;
        text-align: center;
        margin: 2vw 0 3vw;

        &::after{
            position: absolute;
            content: '';
            background-image: url(../images/left-arrow.png);
            width: 1vw;
            height: 1vw;
            right: -7%;
            top: 15%;
            background-size: cover;
            transform: rotate(270deg);
        }
    }
}

.slider {
    position: relative;
    width: 90%;
    height: 25vw;
    display: flex;
    justify-content: center;
}

.slides {
    position: absolute;
    height: 100%;
    width: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slide {
    transition: all 1s;
    position: absolute;
    width: 27.7%;
    height: 90%;
    border: 0.208vw solid $dark-black;
    border-radius: 1vw;

    > div {
        margin: 1vw 0 0 1vw;
    }

    h4{
        text-transform: uppercase;
        width: 50%;
        text-align: start;
        margin: 0vw 0 1vw 2vw;
    }
    
    p{
        font-size: 0.8vw;
        width: 16vw;
        margin: 1vw 0 1vw 0.5vw;
    }

    small{
        display: block;
        width: 42%;
        position: relative;
        font-size: 0.7vw;
        font-weight: 100;
        text-transform: uppercase;
        margin-left: 0.5vw;

        &::after{
            position: absolute;
            content: '';
            right: 0;
            top: 10%;
            width: 0.55vw;
            height: 0.55vw;
            background-image: url(../images/right-arrow.png);
            background-size: cover;
        }

        &:hover{
            cursor: pointer;
            border-bottom: 1px solid #1A1423;
        }
    }

    img{
        width: 100%;
        height: 40%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
}

.arrow{
    width: 1vw;
    height: 1vw;
    background-size: cover;
    position: absolute;
    top: 50%;
    cursor: pointer;

    &--prev{
        background-image: url(../images/left-arrow.png);
        left: 5%;
    }

    &--next{
        background-image: url(../images/right-arrow.png);
        right: 5%;
    }
}


/* ------------------------------------------------------- gallery, news */


.container--gallery-fact{
    width: 75%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6vw;
}

.slider--gallery {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(215, 252, 100, 0.2);
    overflow: hidden;
    box-shadow: 0.2vw 0.2vw 0.5vw $dark-black;
    border-radius: 2vw;

    .slides{
        position: static;
        height: 65%;
        width: 80%;
    }

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    .slide{
        transition: all 1s;
        border: 0;
        border-radius: 1vw;

        &--tools{
            width: 100%;
            height: 10%;
            position: relative;
        }
    }

    .arrow{
        width: 4vw;
        height: 2.2vw;
        background-image: url(../images/wide-arrow-button.svg);
        background-position: center;
        top: 0;
        border-radius: 0.2vw;

        &--prev{
            left: 9%;
        }

        &--next{
            left: 30%;
            transform: rotate(180deg);
        }
    }

    span{
        text-transform: uppercase;
        font-weight: normal;
        font-size: $normal-size-text;
        position: absolute;
        top: 20%;
        right: 10%;
    }
}

.container--interest-fact {
    width: 55%;
    color: $dark-black;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.2vw solid $dark-green;
    border-bottom: 0.2vw solid $dark-green;
    border-radius: 2vw;
    padding: 2.5vw 3vw;
    margin-right: 2vw;

    h3{
        position: relative;
        text-align: start;
        line-height: 4vw;
        width: 80%;

        &::after{
            position: absolute;
            content: '';
            width: 3vw;
            height: 3vw;
            background-image: url(../images/svg-camera.svg);
            background-size: cover;
            transform: rotate(40deg);
            bottom: 5%;
            right: 30%;
        }
    }
}

.running-strip{
    width: 75vw;
    height: 3vw;
    overflow: hidden;
    display: flex;

    &--inner{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        animation: marquee 16s infinite cubic-bezier(0, 0, 0, 0);
    }

    &--el{
        height: 90%;
        font-size: $normal-size-text;
        font-weight: 100;
        padding: 0 1vw;
        color: $skin-color;
        text-align: center;
        margin: 0 2vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.3vw;
        background-color: $dark-green;
        opacity: 0.5;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
      
    100% {
        transform: translateX(-129%);
    }
}


// ---------------------------------------------------------- block with news

.last-news--section {
    width: 70%;
    height: 38vw;
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3{
        // width: 90%;
        font-size: 3vw;
        font-weight: normal;
        text-align: left;
        position: relative;
        
        &::after{
            position: absolute;
            content: '';
            top: 0;
            height: 3vw;
            width: 3vw;
            margin-left: 1vw;
            background-image: url(../images/kpop-tv.svg);
            background-size: cover;
        }
    }

    > a{
        transition: all 0.5s ease-out;
        width: 26%;
        text-transform: uppercase;
        letter-spacing: 0.1vw;
        border-bottom: 0.1vw solid $dark-black;
        position: relative;

        &::after{
            transition: display 1s ease-out;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            width: 1.2vw;
            height: 1.2vw;
            background-image: url(../images/right-arrow-long.svg);
            background-size: cover;
        }

        &:hover{
            transition: all 0.5s ease-out;
            letter-spacing: 0.15vw;
            color: $dark-brown;
            width: 30%;
            border-bottom-color: $dark-brown;

            &::after{
                transition: all 0.5s;
                display: block;
            }
        }
    }
}

.last-news--container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    article{
        width: 30%;
        height: 100%;
        position: relative;
        border: 0.2vw solid $dark-black;
        border-radius: 1vw;

        img{
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            width: 100%;
            height: 40%;
            object-fit: cover;
            position: absolute;
            top: 0;
            border-bottom: 0.2vw solid $dark-black;
        }
    }
}

.article-new {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 59.5%;
    display: flex;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $yellowgreen-opacity;

    &--title{
        font-size: $normal-size-text - 0.2vw;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    &--info{
        width: 90%;
        text-align: center;
        font-size: $normal-size-text - 0.2vw;
        margin: 0;
    }

    > div{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .read--more{
            width: 10vw;
            height: 2vw;
            font-size: 0.8vw;
            border-radius: 0.5vw;
            border: 0.05vw solid $dark-green;
            background-color: $yellowgreen-opacity;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &--date{
        font-size: $normal-size-text - 0.3vw;
        font-weight: bold;
    }
}


// --------------------------------------------------- block Q & A



.section--q-a {
    width: 70%;
    height: 35vw;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0.2vw solid $dark-black;
    border-radius: 1vw;
    background-color: $yellowgreen-opacity;
    &-article{
        width: 45%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h4{
        text-align: left;
        font-size: $big-size-text - 0.2vw;
        line-height: normal;
    }

    p{
        font-size: $normal-size-text - 0.2vw;
    }
}

.section--q {
    &-container{
        width: 100%;
        height: 82%;
        display: flex;
        flex-direction: column;

        //--------- scrolling
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 1vw;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 0.2vw $yellowgreen;
          border-radius: 0.2vw;
        }

         /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $dark-green;
          border-radius: 0.2vw;
          border: 0.1vw solid $dark-black;
        }

         /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            cursor: pointer;
            box-shadow: inset 0 0 1vw rgba(26, 20, 35, 0.5);
        }
    }
    
    &-question {
        width: 95%;
        height: 15%;
        padding: 0 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1vw;
        border-radius: 0.5vw;
        border: 0.1vw solid $dark-black;
        background-color: $yellowgreen-opacity;
        box-shadow: 0.1vw 0.1vw 0.5vw $dark-green;
    
        &:last-child{
            margin-bottom: 0.5vw;
        }

        &:hover{
            cursor: pointer;
        }

        svg{
            display: none;
        }
    }
}

.active{
    color: $skin-color;
    background-color: $dark-black;
    svg{
        display: block;
    }
}

.section--a {
    width: 100%;
    height: 82%;
    border: 0.2vw solid $dark-black;
    border-radius: 1vw;
    background-color: $back-color;
    padding: 2vw;

    &-text {
        margin: 0;
        margin-top: 2vw;
        text-align: justify;
    }
}


// ---------------------------------------------------- useful links


.section--links {
    width: 70%;
    height: 27vw;
    margin-top: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-img{
        width: 40%;
        height: 90%;
        object-fit: cover;
        border: 0.1vw solid $dark-black;
        box-shadow: 0.2vw 0.2vw 0.2vw $dark-black;
        border-radius: 1vw;
        overflow: hidden;


        img{
            transition: all 0.5s;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
            filter: grayscale(0.25);
        }

        &:hover{
            img{
                transition: all 0.5s;
                transform: scale(1.05);
                filter: grayscale(0);
            }
        }
    }

    &-main-content{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
        }
    }

    &-title{
        font-size: $big-size-text;
        line-height: 3vw;
        color: $skin-color;
        text-shadow: 0.2vw 0.2vw 0.2vw #1A1423;
    }
    
    &-photo-member{
        width: 30%;
        height: 100%;
        object-fit: cover;
        transform: rotate(-5deg) scale(1.2);
    }

    &-link{
        transition: background-color 0.3s;
        padding: 0.5vw 1vw;
        margin: 0 1vw;
        min-width: 9vw;
        height: 4vw;
        border: 0.2vw solid $dark-black;
        border-radius: 0.5vw;
        background-color: $skin-color;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
            font-size: $normal-size-text;
        }

        &:hover{
            cursor: pointer;
            transition: all 0.3s;
            background-color: $yellowgreen-opacity;
            transform: scale(1.02);
        }

        &-container{
            width: 68%;
            min-height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}