/*  -------------------------------------------------------- main variables with values */

$dark-green: #0C513F;
$back-color: #28835B;
$yellowgreen: #D7FC64;
$skin-color: #FFF3CC;
$skin-color-opacity: rgba(255, 243, 204, 0.5);
$dark-black: #1A1423;
$yellowgreen-opacity: rgba(215, 252, 100, 0.2);
$orange: #FFC501;
$normal-size-text: 1.2vw;
$big-size-text: 3.125vw;


/* -------------------------------------------------------- additional normalize overall */

@font-face {
    font-family: 'Disclaimer';
    src: url(../font/disclaimer/Disclaimer-Plain.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

* {
    z-index: 1;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    background-color: $back-color;
    flex-direction: column;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-weight: normal;
    font-size: $normal-size-text;
    line-height: 1.45vw;
}

h3, h4, h5, h6, ul{
    padding: 0;
    margin: 0;
} 

h3{
    text-align: center;
    font-weight: 700;
    font-size: $big-size-text;
}

h4{
    text-align: center;
    font-weight: 500;
    font-size: 1.458vw;
    line-height: 1.458vw;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
    display: flex;
}


/* -------------------------------------------------------- clouds in body tag */


.container--clouds{
    position: absolute;
    width: 100%;
    z-index: auto;
}

.cloud{
    width: 40vw;                /* 40% of width of port view */
    &--left{
        margin-top: -20vw;
        margin-left: -15vw;
    }
    &--right{
        margin-left: 40vw;
        margin-top: -30vw;
    }
    
}


.unselectTitle{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* -------------------------------------------------------- header */


.header{
    min-height: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2.5vw 0 6vw;
    z-index: 2;

    div{
        height: 100%;
    }

    &--logo, &--nav{
        border: 0.2vw solid $dark-black;
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    &--logo{
        width: 15vw;
        background-color: $dark-green;
        border-radius: 80px;    

        a{
            text-transform: uppercase;
            font-size: 4vw;
            font-weight: 300;
            color: $skin-color;
            margin-bottom: 1vw;
            font-family: 'Disclaimer', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            letter-spacing: 3px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &--nav{
        width: 60vw;
        background-color: $skin-color;
        border-radius: 40px;

        &-links{
            width: 80%;
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            li{
                a, h6{
                    height: 99%;
                    padding: 1vw 2.5vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h6{
                    font-weight: normal;
                }

                span{
                    font-size: $normal-size-text;
                }
            }
            
        }

        a:hover{
            text-decoration: underline;
        }

        &--active-el{
            font-weight: 700;
        }
    }

    &--droplist{
        position: relative;
        
        &-list{
            position: absolute;
            top: 100%;
            width: 10vw;
            border: 0.2vw solid $dark-black;
            border-top: 0.1vw solid $dark-black;
            border-bottom-left-radius: 0.5vw;
            border-bottom-right-radius: 0.5vw;
            background-color: $skin-color;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            display: none;
            
            li{
                width: 80%;
                border-bottom: 0.1vw solid $dark-black;                
                padding: 0.9vw 0;
                
                &:last-child{
                    border-bottom: 0;
                }
                
                a{
                    display: inline;
                    font-size: $normal-size-text;
                    padding: 0;
                }
                
                &:hover{
                    cursor: pointer;
                    color: $dark-green;
                }
            }
        }

        &:hover {
            .header--droplist-list{
                display: flex;
            }
            h6 > span::after{
                rotate: 90deg;
                top: 25%;
            }
        }

        h6 > span{
            position: relative;            

            &::after{
                transition: rotate 0.5s, top 0.5s;
                position: absolute;
                content: '';
                top: 15%;
                right: -40%;
                width: 0.8vw;
                height: 0.8vw;
                background-image: url(../images/additional-media/right-arrow.png);
                background-size: cover;
                rotate: -90deg;
            }
        }
    }
}



/* block main */


main{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer {
    width: 100%;
    min-height: 20vw;
    background: $dark-green;
    margin-top: 6vw;
    border-top: 0.2vw solid $dark-black;
    color: $skin-color-opacity;

    > div{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }

    &--section{
        &-logos{
            position: relative;
            width: 33%;
            height: 100%;
            border-right: 0.05vw solid $dark-black;
            img{
                position: absolute;
            }
        }

        &-popular{
            width: 66%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            &-title{
                margin: 0;
                font-weight: 100;
                font-size: $normal-size-text;
                color: $skin-color;
            }

            &-list{
                height: 45%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                ul{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border-right: 0.01vw dashed $skin-color-opacity;

                    &:last-child{
                        border-right: none;
                    }

                    a{
                        font-size: $normal-size-text - 0.2vw;
                    }
                }

                a:hover{
                    text-decoration: underline;
                }
            }
        }

        &-rights{
            width: 100%;
            height: 20%;
            border-top: 0.05vw solid $dark-black;
            display: flex;
            justify-content: center;
            align-items: center;
            
            small{
                font-size: 0.8vw;
            }
        }
    }
}

.footer{
    &--img {
        &-nct-lightstick {
            top: 6%;
            right: 2%;
            width: 25%;
            transform: rotate(-90deg);
        }
        &-nct-djj {
            top: 35%;
            left: 57%;
            width: 20%;
        }
        &-nct-dream {
            bottom: 7%;
            left: 15%;
            width: 15%;
        }
        &-nct-globe {
            bottom: 8%;
            right: 8%;
            width: 15%;
        }
        &-nct-hand-sign {
            top: 50%;
            left: 35%;
            width: 20%;
            transform: rotate(15deg);
        }
        &-nct-127 {
            top: 15%;
            left: 25%;
            width: 17%;
            transform: rotate(-50deg);
        }
        &-nct-u {
            top: 35%;
            left: 5%;
            width: 15%;
        }
        &-nct-wish {
            top: 7%;
            left: 8%;
            width: 15%;
        }
        &-wayv {
            top: -5%;
            right: 29%;
            width: 30%;
            transform: rotate(-15deg);
        }
    }
}



/* glass photo */


.glass-photo {
    width: 30%;
    height: 90%;
    position: relative;
    border-radius: 1vw;
    border: 2px solid $dark-black;
    overflow: hidden;

    .photo, .glass{
        transition: all 0.5s;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: inherit;
    }

    .photo{
        z-index: 0;

        &--nct-127{
            background-image: url(../images/nct127/7.jpg);
        }

        &--nct-dream{
            background-image: url(../images/nctdream/9.jpg);
        }

        &--nct-u{
            background-image: url(../images/nctu/11.jpg);
        }

        &--nct-wish{
            background-image: url(../images/nctwish/5.jpg);
        }

        &--wayv{
            background-image: url(../images/wayv/1.jpg);
        }

        &--nct-djj{
            background-image: url(../images/nctdjj/3.jpg);
        }
    }
    
    .glass{
        background-image: url(../images/additional-media/glass-effect.svg);
    }
    
    &:hover{
        .photo{
            transition: all 0.5s;
            transform: scale(1.1);
        }
    }
}


.breadcrumbs{
    &--container{
        width: 70vw;
        display: flex;    
    }

    li{
        position: relative;
        font-size: $normal-size-text + 0.2vw;
        color: $orange;
        text-shadow: -0.1vw 0 $dark-black, 
            0 0.1vw $dark-black, 
            0.1vw 0 $dark-black, 
            0 -0.1vw $dark-black;
        padding: 0 1.5vw;

        &::after{
            position: absolute;
            content: '>';
            top: -10%;
            right: -5%;
        }

        &:last-child{
            &::after{
                display: none;
            }
        }
    }
}


.button-to-top{
    transition: background-color 1s, opacity 0.6s, visibility 0.6s;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 5vw;
    right: 3vw;
    height: 3.5vw;
    width: 4vw;
    border-radius: 1vw;
    background-color: rgba(26, 20, 35, 0.2);
    cursor: pointer;
    z-index: 9;
    border: 0.1vw solid $dark-black;
    
    svg{
        transform: rotate(90deg);
    }

    &:hover{
        transition: all 0.5s;
        transform: scale(1.02);
        opacity: 1;
    }
}

.show{
    transition: background-color 0.5s;
    visibility: visible;
    opacity: 0.8;
    background-color: $dark-black;
}



.background-smooth {
    --c: #0C513F; /* the color */
    
    background: 
      linear-gradient(90deg,#fff 50%,var(--c) 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
            background-clip: text, padding-box;
    transition: 0.5s;
  
    &:hover {
      --_p: 100%
    }
}

// ------------------------ media queries

