/*  -------------------------------------------------------- main variables with values */

$dark-green: #0C513F;
$medium-green: #3f8a76;
$back-color: #28835B;
$yellowgreen: #D7FC64;
$skin-color: #FFF3CC;
$skin-color-opacity: rgba(255, 243, 204, 0.5);
$dark-black: #1A1423;
$dark-brown: #231414;
$yellowgreen-opacity: rgba(215, 252, 100, 0.2);
$orange: #FFC501;
$normal-size-text: 1.2vw;
$big-size-text: 3.125vw;
$small-size-text: 0.8vw;

.groups--section {
    margin-top: 4vw;
    width: 70vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    &-title {
        width: 60%;
        text-align: left;
        color: $orange;
        text-shadow: -0.1vw 0 $dark-black, 
        0 0.1vw $dark-black, 
        0.1vw 0 $dark-black, 
        0 -0.1vw $dark-black;
    }

    &-el {
        transition: transform 0.5s;
        box-shadow: none;
        transform: none;
        width: 25%;
        height: 42%;
        border: 0.2vw solid $dark-black;
        border-radius: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 2vw;
        overflow: hidden;

        img{
            transition: transform 0.5s, filter 0.5s;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
            filter: brightness(40%);
            transform: scale(1);
        }

        span{
            transition: color 0.5s;
            font-size: $big-size-text - 1vw;
            font-weight: 700;
            color: $skin-color;
            text-shadow: -0.1vw 0 $dark-black, 
            0 0.1vw $dark-black, 
            0.1vw 0 $dark-black, 
            0 -0.1vw $dark-black;
        }
        
        &:hover{
            transition: all 0.5s;
            box-shadow: inset 0 0 2vw $dark-green, 0.2vw 0.2vw 0.2vw $dark-green;
            transform: translate(-0.15vw, -0.15vw);

            img{
                transition: all 0.5s;
                transform: scale(1.05);
                filter: brightness(20%);
            }
            
            span{
                transition: all 0.5s;
                $skin-color-opacity: rgba(255, 243, 204, 0.7);
            }
        }
    }
}