/*  -------------------------------------------------------- main variables with values */

$dark-green: #0C513F;
$medium-green: #3f8a76;
$back-color: #28835B;
$yellowgreen: #D7FC64;
$skin-color: #FFF3CC;
$skin-color-opacity: rgba(255, 243, 204, 0.5);
$dark-black: #1A1423;
$dark-brown: #231414;
$yellowgreen-opacity: rgba(215, 252, 100, 0.2);
$orange: #FFC501;
$normal-size-text: 1.2vw;
$big-size-text: 3.125vw;

.short-info {
    &--section {
        width: 70vw;
        height: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    &--text {
        width: 55%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3{
            color: $orange;
            text-shadow: -0.1vw 0 $dark-black, 
            0 0.1vw $dark-black, 
            0.1vw 0 $dark-black, 
            0 -0.1vw $dark-black;
        }

        p{
            line-height: 1.75vw;
            text-align: justify;
        }
    }

    &--photo-and-info{
        width: 30%;
        height: 90%;
        position: relative;
    }

    &--droplist{
        position: absolute;
        bottom: 10.5%;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(38, 87, 74);
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
        border: 0.2vw solid $dark-black;

        &-title{
            position: relative;
            font-size: 1vw;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &::after{
                content: '';
                position: absolute;
                width: 0.8vw;
                height: 0.8vw;
                background-image: url(../../images/left-arrow.png);
                transform: rotate(90deg);
                background-size: cover;
                right: 20%;
                top: 36%;
            }
        }
        
        
        &-list{
            opacity: 0;
            position: absolute;
            top: 100%;
            width: 101.5%;
            background-color: $medium-green;
            border-bottom-left-radius: 1vw;
            border-bottom-right-radius: 1vw;
            border: 0.2vw solid $dark-black;
            padding: 0 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h5{
                margin: 0;
                width: 95%;
                padding: 0.6vw 0;
                border-bottom: 0.1vw solid $dark-green;
                text-align: center;
            }
        }

        &:hover{
            span{
                cursor: pointer;
            }
        }
    }
}


.glass-photo{
    width: 100%;

    .photo, .glass{
        height: 85%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .glass-photo .photo {
        background-image: url(../../images/girl-watch-kpop-post.jpg);
    }

    &:hover{
        .photo{
            transform: scale(1.0);
        }
    }
}

.page-content{
    &--section {
        margin-top: 3vw;
        width: 70vw;
        height: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
    }

    &--container{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 0.2vw solid $dark-black;
        border-radius: 1vw;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            z-index: 0;
          
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;

            background-image: url('../../images/nct-127-strict.jpg');
            background-size: cover;
            background-position: center;

            filter: opacity(0.3);
        }
    }

    &--title{
        color: $dark-black;
        font-size: $big-size-text - 1vw;
    }
    &--list{
        flex-direction: column;
    }
    &--img{
        width: 30%;
        height: 100%;
        object-fit: contain;
    }
}

.list-element {
    width: 95%;
    padding: 0.6vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.05vw solid $dark-green;

    &:last-child{
        border-bottom: none;
    }
    &--title{
        width: 30%;
        text-align: left;
        font-size: $normal-size-text - 0.2vw;
    }

    &--text{
        width: 60%;
        text-align: left;
        line-height: 1vw;
        margin: 0;
        font-size: $normal-size-text - 0.2vw;
    }

    a{
        color: $dark-brown;
        &:hover{
            border-bottom: 0.1vw solid $dark-black;
        }
    }
}

.footer{
    margin-top: 20vw;
}