/*  -------------------------------------------------------- main variables with values */

$dark-green: #0C513F;
$medium-green: #3f8a76;
$back-color: #28835B;
$yellowgreen: #D7FC64;
$skin-color: #FFF3CC;
$skin-color-opacity: rgba(255, 243, 204, 0.5);
$dark-black: #1A1423;
$dark-brown: #231414;
$yellowgreen-opacity: rgba(215, 252, 100, 0.2);
$orange: #FFC501;
$normal-size-text: 1.2vw;
$big-size-text: 3.125vw;
$small-size-text: 0.8vw;


.short-info {
    &--section {
        width: 70vw;
        height: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    &--text {
        width: 55%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3{
            color: $orange;
            text-shadow: -0.1vw 0 $dark-black, 
            0 0.1vw $dark-black, 
            0.1vw 0 $dark-black, 
            0 -0.1vw $dark-black;
        }

        p{
            line-height: 1.75vw;
            text-align: justify;
        }
    }

    &--photo-and-info{
        width: 30%;
        height: 90%;
        position: relative;
    }

    &--droplist{
        position: absolute;
        bottom: 10.5%;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(38, 87, 74);
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
        border: 0.2vw solid $dark-black;

        &-title{
            position: relative;
            font-size: 1vw;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &::after{
                content: '';
                position: absolute;
                width: 0.8vw;
                height: 0.8vw;
                background-image: url(../../images/left-arrow.png);
                transform: rotate(90deg);
                background-size: cover;
                right: 20%;
                top: 36%;
            }
        }
        
        
        &-list{
            position: absolute;
            top: 100%;
            width: 101.5%;
            background-color: $medium-green;
            border-bottom-left-radius: 1vw;
            border-bottom-right-radius: 1vw;
            border: 0.2vw solid $dark-black;
            padding: 0 1vw;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h5{
                margin: 0;
                width: 95%;
                padding: 0.6vw 0;
                border-bottom: 0.1vw solid $dark-green;
                text-align: center;
            }
        }

        &:hover{
            span{
                cursor: pointer;
            }
        }
    }
}


.list-element {
    width: 95%;
    padding: 0.6vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.05vw solid $dark-green;

    &:last-child{
        border-bottom: none;
    }
    &--title{
        width: 30%;
        text-align: left;
        font-size: $normal-size-text - 0.2vw;
    }

    &--text{
        width: 60%;
        text-align: left;
        line-height: 1vw;
        margin: 0;
        font-size: $normal-size-text - 0.2vw;
    }

    a{
        color: $dark-brown;
        &:hover{
            border-bottom: 0.1vw solid $dark-black;
        }
    }
}


.glass-photo{
    width: 100%;

    .photo, .glass{
        height: 85%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .glass-photo .photo {
        background-image: url(../../images/girl-watch-kpop-post.jpg);
    }

    &:hover{
        .photo{
            transform: scale(1.0);
        }
    }
}

.page-content{
    &--section {
        margin-top: 3vw;
        width: 70vw;
        height: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid black;
    }

    &--container{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 0.2vw solid $dark-black;
        border-radius: 1vw;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            z-index: 0;
          
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;

            background-image: url('../../images/nct-127-strict.jpg');
            background-size: cover;
            background-position: center;

            filter: opacity(0.15);
        }
    }

    &--title{
        color: $dark-black;
        font-size: $big-size-text - 1vw;
    }
    &--list{
        width: 80%;
        flex-direction: column;
        font-size: $normal-size-text;

        li{
            list-style-type:decimal;
            margin-bottom: 0.5vw;

            ul{
                margin-left: 1.5vw;
                flex-direction: column;
                
                li{
                    list-style-type: circle;
                    margin-top: 0.4vw;
                }
            }

            &:last-child{
                margin-bottom: 0;            
            }
        }

        a:hover{
            text-decoration: underline;
            color: $dark-brown;
        }
    }
    &--img{
        width: 35%;
        height: 100%;
        object-fit: contain;
    }
}



.history{
    &--section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        height: 35vw;
        margin-top: 3vw;
        padding: 2vw 1vw;
        background-color: $dark-green;
        border: 1px solid black;
        border-radius: 1vw;
        
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
        }

        &-block{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                width: 70%;
                color: $skin-color;
            }
        }
    }

    &--title{
        color: $orange;
        text-shadow: -0.1vw 0 $dark-black, 
            0 0.1vw $dark-black, 
            0.1vw 0 $dark-black, 
            0 -0.1vw $dark-black;
        margin-bottom: 3vw;
    }
}

.single-paragraph p{
    width: 100%;
}

.history--section-container{
    /* width */
    &::-webkit-scrollbar {
        width: 1vw;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 0.4vw;
        background: rgba(26, 20, 35, 0.1);
    }
     /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $dark-green;
      border-radius: 0.4vw;
      border: 0.1vw solid $dark-black;
    }
     /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        box-shadow: inset 0 0 1vw rgba(26, 20, 35, 0.5);
    }
}

.titled-img {
    width: 25%;
    // border: 1px solid pink;
    font-size: $small-size-text;
    margin: 1vw 0;

    &--img{
        width: 100%;
    }
    
    &-title{
        color: $skin-color-opacity;
        font-weight: 100;
        margin-top: 0.2vw;
    }
}


.footer{
    margin-top: 20vw;
}