.glass-photo .photo{
    background-image: url('../../images/nctdjj/1.jpg');
}

.page-content--backgr::before{
    background-image: url('../../images/nctdjj/11.jpg');

}

.references--section::before{
    background-image: url('../../images/nctdjj/14.jpg');
}