/*  -------------------------------------------------------- main variables with values */
.short-info--section {
  width: 70vw;
  height: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.short-info--text {
  width: 55%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.short-info--text h3 {
  color: #FFC501;
  text-shadow: -0.1vw 0 #1A1423, 0 0.1vw #1A1423, 0.1vw 0 #1A1423, 0 -0.1vw #1A1423;
}
.short-info--text p {
  line-height: 1.75vw;
  text-align: justify;
}
.short-info--photo-and-info {
  width: 30%;
  height: 90%;
  position: relative;
}
.short-info--droplist {
  position: absolute;
  bottom: 10.5%;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 87, 74);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  border: 0.2vw solid #1A1423;
}
.short-info--droplist-title {
  position: relative;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short-info--droplist-title::after {
  content: "";
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
  background-image: url(../../images/additional-media/left-arrow.png);
  transform: rotate(90deg);
  background-size: cover;
  right: 20%;
  top: 36%;
}
.short-info--droplist-list {
  position: absolute;
  top: 100%;
  width: 101.5%;
  background-color: #3f8a76;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  border: 0.2vw solid #1A1423;
  padding: 0 1vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.short-info--droplist-list h5 {
  margin: 0;
  width: 95%;
  padding: 0.6vw 0;
  border-bottom: 0.1vw solid #0C513F;
  text-align: center;
  font-size: 1.2vw;
}
.short-info--droplist:hover span {
  cursor: pointer;
}

.list-element {
  width: 95%;
  padding: 0.6vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05vw solid #0C513F;
}
.list-element:last-child {
  border-bottom: none;
}
.list-element--title {
  width: 30%;
  text-align: left;
  font-size: 1vw;
}
.list-element--text {
  width: 60%;
  text-align: left;
  line-height: 1vw;
  margin: 0;
  font-size: 1vw;
}
.list-element a {
  color: #231414;
}
.list-element a:hover {
  border-bottom: 0.1vw solid #1A1423;
}

.glass-photo {
  width: 100%;
}
.glass-photo .photo, .glass-photo .glass {
  height: 85%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.glass-photo .photo {
  background-image: url(../../images/nct127/10.jpg);
}
.glass-photo:hover .photo {
  transform: scale(1.05);
}

.page-content--section {
  margin-top: 3vw;
  width: 70vw;
  height: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-content--backgr {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2vw solid #1A1423;
  border-radius: 1vw;
  padding: 1.5vw 2vw;
  position: relative;
}
.page-content--backgr::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url("../../images/nct127/18.jpg");
  background-size: cover;
  background-position: center;
  transition: filter 0.75s ease-in-out;
  filter: opacity(0.15);
}
.page-content--backgr:hover::before {
  transition: filter 0.75s ease-in-out;
  filter: opacity(0.25);
}
.page-content--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0.2vw solid #1A1423;
  border-radius: inherit;
  background-color: #28835B;
}
.page-content--title {
  color: #1A1423;
  font-size: 2.125vw;
}
.page-content--list {
  width: 80%;
  flex-direction: column;
  font-size: 1.2vw;
  margin: 0;
}
.page-content--list li {
  list-style-type: decimal;
  margin-bottom: 0.5vw;
}
.page-content--list li ul {
  margin-left: 1.5vw;
  flex-direction: column;
}
.page-content--list li ul li {
  list-style-type: circle;
  margin-top: 0.4vw;
}
.page-content--list li:last-child {
  margin-bottom: 0;
}
.page-content--list a:hover {
  text-decoration: underline;
  color: #231414;
}
.page-content--img {
  width: 35%;
  height: 100%;
  object-fit: contain;
}

.history--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 35vw;
  margin-top: 3vw;
  padding: 2vw 1vw;
  background-color: #0C513F;
  border: 1px solid black;
  border-radius: 1vw;
}
.history--section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.history--section-block {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history--section-block p {
  width: 70%;
  color: #FFF3CC;
}
.history--title {
  color: #FFC501;
  text-shadow: -0.1vw 0 #1A1423, 0 0.1vw #1A1423, 0.1vw 0 #1A1423, 0 -0.1vw #1A1423;
  margin-bottom: 3vw;
}

.single-paragraph p {
  width: 100%;
}

.history--section-container {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.history--section-container::-webkit-scrollbar {
  width: 1vw;
}
.history--section-container::-webkit-scrollbar-track {
  border-radius: 0.4vw;
  background: rgba(26, 20, 35, 0.1);
}
.history--section-container::-webkit-scrollbar-thumb {
  background: #0C513F;
  border-radius: 0.4vw;
  border: 0.1vw solid #1A1423;
}
.history--section-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1vw rgba(26, 20, 35, 0.5);
}

.titled-img {
  width: 25%;
  font-size: 0.8vw;
  margin: 1vw 0;
}
.titled-img--img {
  width: 100%;
}
.titled-img-title {
  color: rgba(255, 243, 204, 0.5);
  font-weight: 100;
  margin-top: 0.2vw;
}

.members--section {
  width: 70vw;
  height: 30vw;
  margin-top: 3vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(215, 252, 100, 0.2);
  border-radius: 1vw;
  border: 0.2vw solid #1A1423;
}
.members--section-members {
  height: 95%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.members--section-title {
  margin-top: 0.5vw;
  width: 80%;
  font-size: 2.725vw;
  color: #0C513F;
  text-align: left;
  text-shadow: -0.1vw 0 #1A1423, 0 0.1vw #1A1423, 0.1vw 0 #1A1423, 0 -0.1vw #1A1423;
}
.members--section-list {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  padding: 0.5vw 0;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.members--section-list::-webkit-scrollbar {
  width: 1vw;
}
.members--section-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.2vw #D7FC64;
  border-radius: 0.2vw;
}
.members--section-list::-webkit-scrollbar-thumb {
  background: #0C513F;
  border-radius: 0.2vw;
  border: 0.1vw solid #1A1423;
}
.members--section-list::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1vw rgba(26, 20, 35, 0.5);
}
.members--section-list-btn {
  width: 96%;
  height: 20%;
  padding: 0 1.5vw;
  margin-bottom: 1vw;
  background-color: rgba(215, 252, 100, 0.2);
  border: 0.1vw solid #1A1423;
  border-radius: 1vw;
  box-shadow: 0.1vw 0.1vw 0.5vw #0C513F;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.members--section-list-btn span {
  font-size: 1.4vw;
}
.members--section-list-btn svg {
  display: none;
}
.members--section-list-btn:hover {
  transform: scaleY(1.05);
  cursor: pointer;
}
.members--section-list-btn:last-child {
  margin-bottom: 0;
}
.members--section-info {
  height: 95%;
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.member-info {
  display: none;
  opacity: 0;
  width: 100%;
  height: 85%;
  padding: 1vw;
  background-color: rgba(215, 252, 100, 0.2);
  border-radius: 1vw;
  border: 0.2vw solid #1A1423;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.member-info--img-title {
  width: 90%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.member-info--title {
  flex-direction: column;
  width: 40%;
}
.member-info--title li {
  text-align: center;
  border-bottom: 0.1vw solid rgba(255, 243, 204, 0.5);
  padding: 0.6vw;
  font-size: 1.2vw;
}
.member-info--title li:last-child {
  border-bottom: none;
}
.member-info--img {
  width: 50%;
  height: 100%;
  border-radius: 0.5vw;
  object-fit: cover;
}
.member-info--text {
  width: 95%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.member-info--text::-webkit-scrollbar {
  width: 0.5vw;
}
.member-info--text::-webkit-scrollbar-track {
  background-color: transparent;
}
.member-info--text::-webkit-scrollbar-thumb {
  background: #0C513F;
  border-radius: 0.4vw;
}
.member-info--text::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1vw rgba(26, 20, 35, 0.5);
}
.member-info--text p {
  font-size: 1vw;
  padding: 0.5vw 0;
  margin: 0;
  width: 95%;
  border-bottom: 0.1vw solid rgba(255, 243, 204, 0.5);
}
.member-info--text p span {
  font-weight: bold;
}

.discography--section {
  margin-top: 3vw;
  width: 70vw;
  height: 105vw;
  border: 1px solid black;
  background-color: #0C513F;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.discography--title-and-subsection {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 1vw;
  border-bottom: 0.1vw solid rgba(255, 243, 204, 0.5);
}
.discography--title-and-subsection:last-child {
  border-bottom: none;
}
.discography--title {
  font-size: 1.875vw;
  line-height: normal;
  text-align: center;
  color: #FFC501;
  margin-bottom: 2vw;
}

.discography--kor {
  height: 44%;
}
.discography--jap {
  height: 30%;
}
.discography--eng {
  height: 26%;
}

.discography--subsection {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discography--subsection-col {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.discography--block {
  width: 100%;
  height: auto;
  padding: 1.4vw 1.6vw;
  border-radius: 1vw;
  border: 0.1vw solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
}
.discography--block-title {
  width: 100%;
  padding-bottom: 0.8vw;
  color: #1A1423;
  font-size: 1.458vw;
  border-bottom: 0.1vw solid #0C513F;
}
.discography--block:hover {
  border-color: #1A1423;
}

.discography--block-list {
  flex-direction: column;
  margin-top: 1vw;
}
.discography--block-list > li {
  list-style-type: disc;
  margin: 0.2vw 0;
  margin-left: 1vw;
}
.discography--block-list > li:last-child {
  margin-bottom: 0;
}
.discography--block-list > li::marker {
  line-height: inherit;
  font-size: 1vw;
}
.discography--block-list > li p {
  margin: 0;
  font-size: 0.8vw;
  line-height: normal;
}
.discography--block-list > li ul {
  list-style-type: disc;
  flex-direction: column;
}
.discography--block-list > li ul li {
  margin: 0;
  margin-left: 1vw;
  font-size: 0.8vw;
}

.discography--jap, .discography--eng {
  justify-content: space-between;
}
.discography--jap .discography--subsection, .discography--eng .discography--subsection {
  justify-content: space-around;
}
.discography--jap .discography--subsection-col, .discography--eng .discography--subsection-col {
  width: 40%;
}

.activity--section {
  margin-top: 3vw;
  padding: 2vw 0;
  width: 70vw;
  height: 50vw;
  display: flex;
  justify-content: space-between;
}
.activity--section-title {
  color: #FFC501;
  width: 100%;
  text-shadow: -0.1vw 0 #1A1423, 0 0.1vw #1A1423, 0.1vw 0 #1A1423, 0 -0.1vw #1A1423;
  text-align: left;
  padding: 0 0 2vw 3vw;
  border-bottom: 0.2vw solid rgba(12, 81, 63, 0.5);
  font-size: 3.125vw;
}
.activity--section-concerts, .activity--section-fanmeets {
  width: 48%;
}
.activity--section .discography--block-list > li {
  margin: 0.3vw 0;
  margin-left: 2vw;
}
.activity--section .discography--block-list > li::marker {
  line-height: inherit;
  font-size: 1vw;
}
.activity--section .discography--block-list > li p {
  margin: 0;
  font-size: 1.3vw;
}
.activity--section .discography--block-list > li ul {
  list-style-type: disc;
  flex-direction: column;
}
.activity--section .discography--block-list > li ul li {
  margin: 0.3vw 0;
  margin-left: 2vw;
  font-size: 1.2vw;
}

.activity--section-fanmeets {
  position: relative;
  width: 45%;
}
.activity--section-fanmeets::after {
  position: absolute;
  content: "";
  top: 65%;
  right: 0;
  width: 100%;
  height: 40%;
  background-image: url("../../images/additional-media/cherry-bullets.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(3.142rad) rotate(180deg);
  animation: cherry-bullets 4s infinite ease-in-out;
}

@keyframes cherry-bullets {
  0% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: scale(1.025);
    filter: hue-rotate(30deg);
  }
  100% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}
.p--add-info-ref {
  margin-top: 3vw;
  width: 70vw;
  text-align: center;
  font-size: 1.4vw;
}
.p--add-info-ref a {
  text-decoration: underline;
}

.references--section {
  margin-top: 3vw;
  width: 70vw;
  height: 25vw;
  border: 0.2vw solid #1A1423;
  border-radius: 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.references--section::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url("../../images/nct127/17.jpg");
  background-size: cover;
  background-position: center;
  filter: opacity(0.25);
}
.references--section-title {
  font-size: 3.125vw;
  color: #FFC501;
  -webkit-text-stroke: 1px #1A1423;
  text-shadow: 2px 2px 3px #1A1423;
}
.references--section-list {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.references--section-list-el {
  transition: background-color 0.5s, box-shadow 0.5s;
  display: block;
  width: 30%;
  height: 30%;
  border: 0.15vw solid #1A1423;
  border-radius: 0.75vw;
  background-color: #28835B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.references--section-list-el a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.references--section-list-el:hover {
  transition: background-color 1s, color 0.5s;
  cursor: pointer;
  background-color: #1A1423;
  color: #FFF3CC;
}
.references--section-list-el:hover .ref::before, .references--section-list-el:hover .ref::after {
  transition: filter 0.5s;
  filter: contrast(0) hue-rotate(90deg);
}

.ref {
  position: relative;
  font-size: 1.2vw;
}
.ref::before, .ref::after {
  position: absolute;
  content: "";
  width: 1vw;
  height: 1vw;
  top: 10%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ref--twitter::before {
  left: -120%;
  background-image: url(../../images/svg-social-links/svg-twitter-x.svg);
}
.ref--twitter::after {
  right: -120%;
  background-image: url(../../images/svg-social-links/svg-twitter-x.svg);
}
.ref--facebook::before {
  left: -100%;
  background-image: url(../../images/svg-social-links/svg-facebook.svg);
}
.ref--facebook::after {
  right: -100%;
  background-image: url(../../images/svg-social-links/svg-facebook.svg);
}
.ref--tiktok::before {
  left: -135%;
  background-image: url(../../images/svg-social-links/svg-tiktok.svg);
}
.ref--tiktok::after {
  right: -135%;
  background-image: url(../../images/svg-social-links/svg-tiktok.svg);
}
.ref--instagram::before {
  left: -75%;
  background-image: url(../../images/svg-social-links/svg-instagram.svg);
}
.ref--instagram::after {
  right: -75%;
  background-image: url(../../images/svg-social-links/svg-instagram.svg);
}
.ref--weverse::before {
  left: -100%;
  background-image: url(../../images/svg-social-links/png-weverse.png);
}
.ref--weverse::after {
  right: -100%;
  background-image: url(../../images/svg-social-links/png-weverse.png);
}
.ref--youtube::before {
  left: -180%;
  background-image: url(../../images/svg-social-links/svg-youtube.svg);
}
.ref--youtube::after {
  right: -180%;
  background-image: url(../../images/svg-social-links/svg-youtube.svg);
}

.active-member {
  background-color: #1A1423;
}
.active-member span {
  color: #FFF3CC;
}
.active-member svg {
  display: block;
}
.active-member-info {
  display: flex;
  opacity: 1;
}

/*# sourceMappingURL=unit.css.map */
